:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-wrap: wrap;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1440px;
}

.form > fieldset {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cv-container {
  max-width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.cv-header > ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.cv-content > div {
  display: flex;
  justify-content: space-between;
  font-weight: 650;
  width: 100%;
}

.cv-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  align-self: center;
}

h3 {
  line-height: 0;
  padding: 0;
}

p {
  text-align: left;
}

footer {
  background-color: aqua;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
